body {
	min-width: 480px;
	min-height: 100vh;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-blend-mode: multiply;
	transition: background-image 1s ease-in-out;
}