body {
	min-width: 480px;
	min-height: 100vh;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background: url('../assets/img/static/background.png');
	background-size: cover;
	position: relative;
}